# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Log files
*.log

# Project output files
CRISPR_candidates*.csv
CRISPR_candidates.txt
Upstream_sequences.txt
Downstream_sequences.txt
manifest*.json
top_CRISPR_candidates*.csv
bandit-report.json
safety-report.json
